<a href="https://colab.research.google.com/github/VagnerHolzlsauer/Tec/blob/main/AED_AP_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Análise Exploratória de Dados - AED** - **Aula Prática 01**

> **Comandos e bibliotecas básicas**

In [1]:
import pandas as pd  # biblioteca com ferramentas para análise de dados/dataframes
import numpy as np  # biblioteca com operações matemáticas

In [2]:
# Pesquisa Nacional por Amostra de Domicílios - PNAD (IGBE)
df = pd.read_csv("https://raw.githubusercontent.com/dayanebravo/AED/main/pes_2012.csv")  # ler dados no formato CSV

In [3]:
df.head()  #  exibe as primeiras linhas da tabela

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,3000,3000,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,3000,3000,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,1100,1100,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,1100,1100,232
4,2012,Rondônia,Feminino,54,Branca,15 anos ou mais,NaN,460,232

In [4]:
df.shape  # informa a dimensão da tabela (linhas, colunas)

(362451, 9)

In [5]:
df.info()  # informações gerais dos dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362451 entries, 0 to 362450
Data columns (total 9 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   V0101   362451 non-null  int64
 1   UF      362451 non-null  object
 2   V0302   362451 non-null  object
 3   V8005   362451 non-null  int64
 4   V0404   362451 non-null  object
 5   V4803   362451 non-null  object
 6   V4718   173539 non-null  object
 7   V4720   309512 non-null  object
 8   V4729   362451 non-null  int64
dtypes: int64(3), object(6)
memory usage: 24.9+ MB

In [6]:
df.dtypes  # informa os tipos de dados de cada coluna

V0101     int64
UF       object
V0302    object
V8005     int64
V0404    object
V4803    object
V4718    object
V4720    object
V4729     int64
dtype: object

In [7]:
df.V4718  #  acessar dados da coluna

0          3000
1          3000
2          1100
3          1100
4           NaN
          ...
362446      NaN
362447    20000
362448      NaN
362449      NaN
362450    13000
Name: V4718, Length: 362451, dtype: object

In [8]:
df["V4718"]  #  acessar e ALTERAR dados da coluna

0          3000
1          3000
2          1100
3          1100
4           NaN
          ...
362446      NaN
362447    20000
362448      NaN
362449      NaN
362450    13000
Name: V4718, Length: 362451, dtype: object

In [9]:
df.dropna(axis="columns")  # remove colunas com ao menos um valor inválido:df: representa um DataFrame do pandas, ou seja, uma tabela em Python com linhas e colunas.
#dropna(): é um método do pandas que remove entradas ausentes (NaN). Ele pode ser aplicado a linhas ou colunas.
#axis="columns": especifica que a remoção deve ser feita nas colunas. Por padrão, axis=0 remove linhas que contenham NaN. Portanto:
#axis=0 ou axis="index" → remove linhas com valores ausentes.
#axis=1 ou axis="columns" → remove colunas com valores ausentes.

,V0101,UF,V0302,V8005,V0404,V4803,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,232
4,2012,Rondônia,Feminino,54,Branca,15 anos ou mais,232
...,...,...,...,...,...,...,...
362446,2012,Distrito Federal,Feminino,51,Branca,15 anos ou mais,290
362447,2012,Distrito Federal,Masculino,53,Branca,12 anos,290
362448,2012,Distrito Federal,Masculino,21,Branca,13 anos,290
362449,2012,Distrito Federal,Masculino,19,Branca,13 anos,290
362450,2012,Distrito Federal,Masculino,40,Branca,15 anos ou mais,290

In [11]:
df.dropna()  # remove linhas com ao menos um valor inválido - mas não altera o dataframe original

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,3000,3000,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,3000,3000,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,1100,1100,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,1100,1100,232
5,2012,Rondônia,Masculino,56,Preta,15 anos ou mais,10000,10000,232
...,...,...,...,...,...,...,...,...,...
362441,2012,Distrito Federal,Masculino,49,Branca,11 anos,3000,3000,290
362442,2012,Distrito Federal,Feminino,47,Branca,11 anos,3000,3000,290
362443,2012,Distrito Federal,Masculino,22,Parda,15 anos ou mais,1400,1400,290
362447,2012,Distrito Federal,Masculino,53,Branca,12 anos,20000,20000,290
362450,2012,Distrito Federal,Masculino,40,Branca,15 anos ou mais,13000,13000,290

In [12]:
ndf = df.dropna()  # criando um NOVO dataframe com as linhas inválidas removidas

In [13]:
ndf.head()  #  exibe as primeiras linhas da tabela

,V0101,UF,V0302,V8005,V0404,V4803,V4718,V4720,V4729
0,2012,Rondônia,Masculino,48,Branca,15 anos ou mais,3000,3000,232
1,2012,Rondônia,Feminino,48,Branca,15 anos ou mais,3000,3000,232
2,2012,Rondônia,Feminino,23,Branca,15 anos ou mais,1100,1100,232
3,2012,Rondônia,Feminino,21,Branca,14 anos,1100,1100,232
5,2012,Rondônia,Masculino,56,Preta,15 anos ou mais,10000,10000,232

In [14]:
ndf.dtypes  # informa os tipos de dados de cada coluna

V0101     int64
UF       object
V0302    object
V8005     int64
V0404    object
V4803    object
V4718    object
V4720    object
V4729     int64
dtype: object

> Observar as colunas V4718 e V4720

In [16]:
df["V4718"] = pd.to_numeric(df["V4718"],errors="coerce")  # transformar dados da coluna em float e substituir os erros por NaN
df["V4720"] = pd.to_numeric(df["V4720"],errors="coerce")  #import pandas as pd

# Criando um DataFrame de exemplo
#df = pd.DataFrame({
    #"V4718": ["10", "20", "abc", "30.5", "x"]

# Converter para numérico, valores inválidos viram NaN
#df["V4718"] = pd.to_numeric(df["V4718"], errors="coerce")

#print(df)
#Saída:
  # V4718
#0   10.0
#1   20.0
#2    NaN
#3   30.5
#4    NaN #

In [ ]:
df.dtypes  # informa os tipos de dados de cada coluna

# **Variáveis Qualitativas e Quantitativas**

In [ ]:
df.select_dtypes(include=['object'])  # seleciona os valores qualitativos encontrados nos dados

In [ ]:
df.select_dtypes(include=['number'])  # seleciona os valores quantitativos encontrados nos dados

> **Valores Quantitativos: discretos ou contínuos**

In [17]:
print(type(df.V0101[1]))  # valor quantitativo discreto (finito) da coluna e posição indicada
df.V0101[132]

<class 'numpy.int64'>

np.int64(2012)

In [ ]:
pdmedia = ndf.V8005.mean()   # valor quantitativo contínuo (não enumerável) - média das idades pela PANDAS
print("A média é: ", pdmedia)
type(pdmedia)  # tipo da variável calculada

In [ ]:
npmedia = np.mean(ndf.V8005)   # valor quantitativo contínuo (não enumerável) - média das idades pela NUMPY
print("A média é: ",npmedia)


> **Representação numérica**

In [ ]:
print("%.2f" % pdmedia)   # arredondamento 2 casas decimais

In [ ]:
print("%.5f" % pdmedia)   # arredondamento 5 casas decimais

In [ ]:
print('{:e}'.format(pdmedia))   # notação científica

In [ ]:
print('{:.2e}'.format(pdmedia))   # notação científica com 2 casas decimais

# ***Frequência de dados***
> ***Frequência Absoluta***

In [18]:
ndf.V0404.value_counts()   #  frequência qualitativa - características físicas

V0404
Parda       80133
Branca      76141
Preta       15794
Amarela       789
Indígena      682
Name: count, dtype: int64

In [19]:
ndf.V8005.value_counts()    # frequência quantitativa - idade

V8005
30     5132
32     4857
33     4660
31     4574
27     4513
       ...
102       1
96        1
99        1
95        1
117       1
Name: count, Length: 90, dtype: int64

>***Frequência Relativa***

In [20]:
print("número total de observações: ", len(ndf.V0404) )   #  número total de observações - linhas

np.divide(ndf.V0404.value_counts(), len(ndf.V0404))  #  frequência relativa da coluna indicada - características físicas:✅ Resumo:

#len(ndf.V0404) → total de registros na coluna.
#ndf.V0404.value_counts() → contagem absoluta de cada valor.
#np.divide(..., len(...)) → converte contagem absoluta em frequência relativa.

número total de observações:  173539

V0404
Parda       0.461758
Branca      0.438754
Preta       0.091011
Amarela     0.004547
Indígena    0.003930
Name: count, dtype: float64

In [21]:
print("número total de observações: ", len(ndf.V8005))   #  número total de observações - linhas

np.divide(ndf.V8005.value_counts() , len(ndf.V8005))  #  frequência relativa da coluna indicada - idade

número total de observações:  173539

V8005
30     0.029573
32     0.027988
33     0.026853
31     0.026357
27     0.026006
         ...
102    0.000006
96     0.000006
99     0.000006
95     0.000006
117    0.000006
Name: count, Length: 90, dtype: float64

## Próximas aulas...
> **Gráficos de frequência**

> **Tabela em Grupos**

In [22]:
ndf.groupby(['V0302','UF']).agg({'V8005': np.mean})  # Tabela agrupando: sexo / UF / idade média

/tmp/ipython-input-1169433712.py:1: FutureWarning: The provided callable <function mean at 0x7f6f807c3560> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ndf.groupby(['V0302','UF']).agg({'V8005': np.mean})  # Tabela agrupando: sexo / UF / idade média

                                   V8005
V0302     UF
Feminino  Acre                 35.932515
          Alagoas              37.189873
          Amapá                37.618625
          Amazonas             36.525568
          Bahia                38.199086
          Ceará                38.136656
          Distrito Federal     36.876916
          Espírito Santo       37.784401
          Goiás                36.873300
          Maranhão             37.519243
          Mato Grosso          36.514686
          Mato Grosso do Sul   36.511834
          Minas Gerais         38.103119
          Paraná               37.920097
          Paraíba              38.804983
          Pará                 37.341370
          Pernambuco           38.342091
          Piauí                38.634354
          Rio Grande do Norte  37.338860
          Rio Grande do Sul    39.393641
          Rio de Janeiro       39.633514
          Rondônia             36.611552
          Roraima              35.770297
          Santa Catarina       36.387375
          Sergipe              37.107321
          São Paulo            37.412783
          Tocantins            37.078577
Masculino Acre                 35.736984
          Alagoas              37.059190
          Amapá                37.213043
          Amazonas             36.089065
          Bahia                37.935228
          Ceará                37.856764
          Distrito Federal     37.197246
          Espírito Santo       38.248992
          Goiás                37.690989
          Maranhão             36.620851
          Mato Grosso          37.804283
          Mato Grosso do Sul   38.247552
          Minas Gerais         38.658869
          Paraná               38.216527
          Paraíba              38.000621
          Pará                 36.837157
          Pernambuco           38.142006
          Piauí                37.694393
          Rio Grande do Norte  37.910815
          Rio Grande do Sul    39.654769
          Rio de Janeiro       39.684701
          Rondônia             36.385216
          Roraima              36.751366
          Santa Catarina       37.537882
          Sergipe              36.851279
          São Paulo            38.333484
          Tocantins            38.584423